# top level dot files #
#######################
/.netrwhist

# spell binary file #
#####################
spell/*.spl

###########################
#  some private snippets  #
###########################
UltiSnips/*_private.snippets
