[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/signify"]
	path = pack/plugins/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/echodoc"]
	path = pack/plugins/start/echodoc
	url = https://github.com/Shougo/echodoc.vim.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "/home/xps/.vim/pack/plugins/start/ale"]
	path = /home/xps/.vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "/home/xps/.vim/pack/plugins/start/vim-airline"]
	path = /home/xps/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/colors/start/vim-colors-pencil"]
	path = pack/colors/start/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "pack/colors/start/gardener"]
	path = pack/colors/start/gardener
	url = https://github.com/wm8120/The-Vim-Gardener.git
[submodule "pack/colors/start/tomorrow"]
	path = pack/colors/start/tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "pack/colors/start/vim-airline-themes"]
	path = pack/colors/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
